.outside-wrapper{
    position: relative;
    margin-bottom: 40px;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 400px;
}

.experience-card-container{
    position: relative;
    width: 300px;
    height: 265px;
    perspective: 1000px;
}

.experience-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front, .card-back{
    position: absolute;
    background-color: #f0e9e8;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-back{
    height: 265px;
    width: 100%;
    padding: 20px;
    transform: rotateX(180deg);
}

.experience-card-container:hover .experience-card{
    transform: rotateX(180deg);
}

.show-back .experience-card{
    transform: rotateX(180deg);
}

.card-topper{
    position: relative; 
    height: 40px;
    width: 100%;
    background-color: #aa3281;
}

.card-intro{
    position: relative;
    height: 225px;
    width: 100%;
}


.card-topper img{
    height: 100%;
}

.card-intro img{
    height: 100%;
    width: 100%;
}

.card-title, .card-title-back{
    height: 40px;
    position: absolute;
    width: 100%;
    background-color: #f0e9e8;
    display: flex;
    padding: 10px;
    border-top: solid 2px #aa3281;
    backface-visibility: hidden;
}

.card-title{
    bottom: 0;
}

.card-title-back{
    top: 0;
    margin-left: -20px;
    display: none;
}

.card-title h3{
    font-size: 16px;
}

.expanded-content{
    padding: 20px;
}

.card-back p{
    font-size: 16px;
}

.card-links{
    position: absolute;
    z-index: 10;
    bottom: 0;
    backface-visibility: hidden;
    text-transform: uppercase;
}

.card-links a:hover{
    color: #526c19;
}

.plant-animation{
    position: absolute;
    bottom: -5px;
    left: 180px;
    height: 260px;
    width: 125px;
    background-image: url('../assets/plant-sprite.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 3900%;
    animation: grow 3.5s steps(38) 1;
    z-index: 10;
    backface-visibility: hidden;
}

@keyframes grow{
    from{background-position: left;}
    to {background-position: right;}
}

@media only screen and (min-width: 500px){
    .experience-card-container{
        width: 400px;
        height: 300px;
        margin: 20px;
    }

    .card-topper{
        height: 60px;
        backface-visibility: hidden;
    }

    .card-intro{
        height: 240px;
        backface-visibility: hidden;
    }
    
    .card-back{
        height: 300px;
        width: 400px;
    }

    .card-title-back{
        display: block;
        height: 50px;
        border-bottom: 2px solid #aa3281;
    }

    .card-back-text{
        margin-top: 50px;
    }

    .card-title h3{
        font-size: 24px;
    }

    .expanded-content p{
        font-size: 18px;
    }

    .plant-animation{
        bottom: -10px;
        left: 250px;
        height: 312px;
        width: 150px;
        backface-visibility: hidden;
    }

    .card-links{
        margin-bottom: 10px;
    }
}